@import '~bootstrap/scss/bootstrap';

td.struck{
  text-decoration: line-through;
}
td.eliminated{
  background-color: pink;
}
td.alive{
  background-color: green;
}
td.dead{
  background-color: black;
  color: red;
}
